<a href="javascript:;" id="gotop" class="md-fab-mini" title="Back to Top">
    <span class="material-symbols-outlined">arrow_upward</span>
</a>
<% if(theme.share){ %>
<%- partial('post/share', {scope: 'global'}) %>
<% } %>
