<% if(page.reward){ %>
<div class="page-reward">
    <a id="rewardBtn" href="javascript:;" class="md-btn md-btn-primary page-reward-btn">
        <span class="material-symbols-outlined">favorite</span>
        <span>Sponsor / 赞赏</span>
    </a>
</div>
<% } %>
