<% if(theme.share){ %>
<div class="page-share-wrap">
    <%- partial('share', { scope: 'page' }) %>
    <a href="javascript:;" id="shareFab" class="md-fab-mini page-share-fab" title="Share">
        <span class="material-symbols-outlined">share</span>
    </a>
</div>
<% } %>
